.u-section-1 .u-sheet-1 {
  min-height: 973px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  margin: 127px auto 0;
}

.u-section-1 .u-form-1 {
  height: 269px;
  width: 469px;
  margin: 20px auto 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 216px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: 216px;
    margin-left: 286px;
  }

  .u-section-1 .u-form-group-1 {
    margin-top: 20px;
    letter-spacing: normal;
    font-weight: normal;
  }

  .u-section-1 .u-form-group-2 {
    margin-top: 20px;
    letter-spacing: normal;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 106px;
    margin-left: 176px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 16px;
    margin-left: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 337px;
    margin-left: auto;
    margin-right: auto;
  }
}