.u-section-1 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 38px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 45px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px auto 0 47px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 45px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 6px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 45px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 6px 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 45px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 6px 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 65px auto 0 28px;
}

.u-section-1 .u-line-1 {
  width: 1084px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 6px auto 0;
}

.u-section-1 .u-group-1 {
  width: 1084px;
  min-height: 462px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 306px;
  min-height: 380px;
  margin: 11px auto 0 28px;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 213px;
  margin: -50px auto 0 75px;
}

.u-section-1 .u-repeater-1 {
  min-height: 50px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-7 {
  padding: 6px 7px;
}

.u-section-1 .u-icon-1 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 6px 7px;
}

.u-section-1 .u-icon-2 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 6px 7px;
}

.u-section-1 .u-icon-3 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 6px 7px;
}

.u-section-1 .u-icon-4 {
  width: 31px;
  height: 31px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  width: 647px;
  margin: -391px 8px 0 auto;
}

.u-block-e9fd-85 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
  border-style: double;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
  border-style: double;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 700;
  border-style: double;
}

.u-section-1 .u-table-cell-4 {
  font-weight: 700;
  border-style: double;
}

.u-block-e9fd-100 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 19px 28px 60px auto;
  padding: 13px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 37px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 37px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 37px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 37px;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1235px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 84px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 84px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 200px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-table-1 {
    width: 520px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 79px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 14px;
  }

  .u-section-1 .u-table-1 {
    width: 320px;
  }
}