.u-section-1 {
  min-height: 695px;
}

.u-section-1 .u-group-1 {
  width: 371px;
  min-height: 279px;
  margin: 214px auto 60px calc(((100% - 1140px) / 2) + 385px);
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 181px;
  margin-top: 33px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  width: 100%;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  align-self: center;
  margin: 0 auto 0 85px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px auto 0 222px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 385px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 349px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 169px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: 70px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 207px;
  }
}