.u-section-1 .u-sheet-1 {
  min-height: 695px;
}

.u-section-1 .u-group-1 {
  width: 371px;
  min-height: 279px;
  margin: 214px auto 60px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 181px;
  margin-top: 21px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-weight: 700;
  align-self: center;
  margin: 12px auto 0 85px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-weight: 700;
  margin: -26px auto 0 222px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-form-1 {
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 70px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 207px;
  }
}