.u-section-1 .u-sheet-1 {
  min-height: 1681px;
}

.u-section-1 .u-line-1 {
  width: 862px;
  transform-origin: right center 0px;
  top: 566px;
  position: absolute;
  height: 3px;
}

.u-section-1 .u-text-1 {
  margin: 55px auto 0 55px;
}

.u-section-1 .u-group-1 {
  width: 1001px;
  min-height: 35px;
  margin: 31px auto 0 55px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px 24px 8px 23px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 93px;
  padding: 8px 15px 8px 14px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 186px;
  padding: 8px 18px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 279px;
  padding: 8px 19px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 371px;
  padding: 8px 11px 8px 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 465px;
  padding: 8px 20px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 372px 0 auto;
  padding: 8px 21px 8px 20px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 279px 0 auto;
  padding: 8px 9px 8px 8px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 186px 0 auto;
  padding: 8px 17px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 93px 0 auto;
  padding: 8px 12px 8px 11px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 0 0 auto;
  padding: 8px 10px;
}

.u-section-1 .u-line-2 {
  width: 1030px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  margin: 17px auto 0 55px;
}

.u-section-1 .u-group-2 {
  width: 862px;
  min-height: 309px;
  margin: 44px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 228px;
  height: 226px;
  margin: 49px 28px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: -213px auto 0 87px;
}

.u-section-1 .u-icon-2 {
  width: 41px;
  height: 41px;
  color: rgb(0, 0, 0) !important;
  margin: -41px auto 0 87px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -41px 326px 0 137px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: 0 589px 0 137px;
}

.u-section-1 .u-video-1 {
  width: 502px;
  height: 55px;
  margin: 136px auto 0 83px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: 28px 139px 0 auto;
  padding: 8px 10px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 218px 0 auto;
  padding: 8px 10px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -35px auto 0 139px;
  padding: 5px 17px 6px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -34px auto 0 227px;
  padding: 5px 10px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 862px;
  margin: 9px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 872px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: auto;
  background-image: url("images/s.jpg");
  background-position: 50% 50%;
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 87px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 872px;
}

.u-section-1 .u-container-layout-4 {
  padding: 22px 0;
}

.u-section-1 .u-group-3 {
  min-height: 226px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-text-6 {
  margin: 21px 323px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 65px 163px 0 45px;
}

.u-section-1 .u-icon-3 {
  width: 25px;
  height: 25px;
  margin: -25px auto 0 13px;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 7px 13px 0;
}

.u-section-1 .u-form-1 {
  height: 199px;
  margin: 8px 19px 0 13px;
}

.u-section-1 .u-btn-16 {
  width: 100%;
  background-image: none;
  border-style: none;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 872px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-group-4 {
  width: 129px;
  min-height: 118px;
  margin: 8px auto 0;
}

.u-section-1 .u-image-3 {
  height: 86px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  margin: 5px auto 0 51px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 431px;
  margin: -279px auto 60px 311px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 71px;
}

.u-section-1 .u-container-layout-8 {
  padding: 22px 30px;
}

.u-section-1 .u-group-5 {
  width: 76px;
  min-height: 27px;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  width: 27px;
  height: 27px;
  background-image: url("images/s.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  background-image: none;
  margin: -25px auto 0 34px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 71px;
}

.u-section-1 .u-container-layout-10 {
  padding: 23px 30px;
}

.u-section-1 .u-text-10 {
  font-size: 0.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -36px;
    margin-left: 80px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -34px;
    margin-left: 160px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 240px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -36px;
    margin-left: 320px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 401px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -34px;
    margin-right: 388px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 308px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 228px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -36px;
    margin-right: 148px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 68px;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 18px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 27px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
    width: NaNpx;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 729px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1987px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 181px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 168px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 8px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
    margin-right: 8px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 255px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 518px;
    margin-left: 66px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 252px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 124px;
    margin-left: 6px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: 289px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4446px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 404px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-left: 38px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 344px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-left: 109px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3507px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -34px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -35px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 204px;
  }

  .u-section-1 .u-video-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 52px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-left: 0;
  }
}