.u-section-1 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-1 .u-text-1 {
  margin: 55px auto 0 55px;
}

.u-section-1 .u-group-1 {
  width: 1001px;
  min-height: 35px;
  margin: 31px auto 0 55px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px 24px 8px 23px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 93px;
  padding: 8px 15px 8px 14px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 186px;
  padding: 8px 18px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 279px;
  padding: 8px 19px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 371px;
  padding: 8px 11px 8px 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px auto 0 465px;
  padding: 8px 20px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 372px 0 auto;
  padding: 8px 21px 8px 20px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 279px 0 auto;
  padding: 8px 9px 8px 8px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 186px 0 auto;
  padding: 8px 17px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 93px 0 auto;
  padding: 8px 12px 8px 11px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: -35px 0 0 auto;
  padding: 8px 10px;
}

.u-section-1 .u-line-1 {
  width: 1030px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 96px auto 0 155px;
}

.u-section-1 .u-group-2 {
  width: 834px;
  min-height: 310px;
  height: auto;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 16px auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 13px;
}

.u-section-1 .u-image-1 {
  width: 165px;
  height: 165px;
  margin: 0 auto 0 23px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 19px auto 0 47px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -24px auto 0 112px;
  padding: 4px 6px 5px;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 14px auto 0 112px;
  padding: 4px 7px 5px 5px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -24px auto 0 40px;
}

.u-section-1 .u-form-1 {
  height: 256px;
  margin: -247px 19px 0 215px;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -36px;
    margin-left: 80px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -34px;
    margin-left: 160px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 240px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -36px;
    margin-left: 320px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 401px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -34px;
    margin-right: 388px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 308px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 228px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -36px;
    margin-right: 148px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 68px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 101px;
    margin-left: 55px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 11px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 100px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 181px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 168px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 8px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 20px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
    margin-right: 8px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 4px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-2 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -34px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -35px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -36px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -35px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
}